<div class="container pt-5 d-flex justify-content-end">
  <%= link_to :back do %>
    <i class="fas fa-times"></i>
  <% end %>
</div>

<div class="container mt-5 mb-5">
  <%= simple_form_for (@item) do |f| %>
    <%= f.association :category %>
    <%= f.association :sub_category %>
    <%= f.input :color %>
    <%= f.input :fabric %>
    <%= f.input :fit %>
    <%= f.input :favorite, as: :radio_buttons %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
  
  <%= link_to item_path(@item), method: :delete, data: { confirm: "Are you sure?" } do %>
    <button type="button" class=" mt-5 btn btn-secondary btn-lg btn-block">Delete</button>
  <% end %>
</div>