<div class="container mt-5 mb-5">
    <div class="row">
        <% @items.each do |item| %>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-6">
                <div class="mb-4 d-flex justify-content-center" style="height:200px;">
                    <%= link_to edit_item_path(item) do %>
                        <img src="<%= cl_image_path item.photo.key %>" width="100%" height="100%">
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="pt-3 pb-3" style="display:flex; justify-content:space-around; border-top:1px solid black; background-color:white;">
<%= link_to(root_path, class: "d-flex justify-content-center align-items-center flex-column") do %>
    <%= image_tag "closet-svgrepo-com.svg", style: 'height:40px;width:auto;' %>
    Closet
<% end %>
<%= link_to(new_item_path, class: "d-flex justify-content-center align-items-center flex-column") do %>
    <%= image_tag "plus-svgrepo-com.svg", style: 'height:40px;width:auto;' %>
    Add an item
<% end %>
<%= link_to(styles_item_get_path, class: "d-flex justify-content-center align-items-center flex-column") do %>
    <%= image_tag "clothes-rack-01-svgrepo-com.svg", style: 'height:40px;width:auto;' %>
    Change
<% end %>
</div>
