<div class="mt-5 mb-5">
    <div class="d-flex justify-content-around align-items-center flex-wrap">
        <% @items.each do |item| %>
            <div class="mb-4 d-flex justify-content-center" style="width:45%; height:200px;">
                    <%= link_to edit_item_path(item) do %>
                        <img src="<%= cl_image_path item.photo.key %>" width="100%" height="100%">
                    <% end %>
            </div>
        <% end %>
    </div>
    <div style="display:flex; justify-content: space-around">
    <%= link_to(new_item_path, class: "mt-5 d-flex justify-content-center align-items-center flex-column") do %>
        <%= image_tag "closet-svgrepo-com", style: 'height:40px;width:auto;' %>
        My Closet
    <% end %>
    <%= link_to(new_item_path, class: "mt-5 d-flex justify-content-center align-items-center flex-column") do %>
        <%= image_tag "plus-svgrepo-com.svg", style: 'height:40px;width:auto;' %>
        Add an item
    <% end %>
    <%= link_to(styles_item_get_path, class: "mt-5 d-flex justify-content-center align-items-center flex-column") do %>
        <%= image_tag "clothes-rack-01-svgrepo-com", style: 'height:40px;width:auto;' %>
        Changing Room
    <% end %>
    </div>
</div>
